<!doctype html>
<html lang="pt-BR">

<head>
    {% include 'partial/head.html' %}
    <title>{% block titulo %}{% endblock %}Contacts</title>
</head>


<body>
        
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Contacts</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Sair</a>
            </div>
        </div>
    </header>
    {% include 'partial/messages.html' %}
        
    <div class="container-fluid">
        <div class="row">
            {% include 'partial/nav.html' %}
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% block content %} {% endblock %}
            </main>
        </div>
    </div>

    
</body>
{% include 'partial/footer.html' %}

</html>