<!doctype html>
<html lang="pt-BR">

<head>
    {% include 'partial/head.html' %}
    <title>{% block title %}{% endblock title %} | Contacts</title>
</head>
<body>
    {% block body %}
    <div class="main-container d-flex">
        {% include 'partial/nav.html' %}<div class="content">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                        <a class="navbar-brand" href="#">Contacts</a>
                        <button class="navbar-toggler px-1 py-0 open-btn">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </nav>
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="dashboard-content px-3 py-2">
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>

{% include 'partial/footer.html' %}
<script>
    $('.open-btn').on('click', function () {
        $('.sidebar').addClass('active');
    });
    $('.close-btn').on('click', function () {
        $('.sidebar').removeClass('active');
    });
</script>

</html>