{% load crispy_forms_tags %}
<div class="row justify-content-md-center  px-4">
    <div class="col">
        <div class="form-outline">
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <div class="col">
        <div class="form-outline">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>

    {{ form.email|as_crispy_field }}

    {{ form.telephone|as_crispy_field }}

    <div class="form-check d-flex justify-content-center mb-4">
        {{ form.favorite|as_crispy_field }}
    </div>
    <div style="max-height: 18rem;">
        {{ form.note|as_crispy_field }}
    </div>
</div>