{%extends 'base.html'%}
{% block title %}
    Home 
{% endblock title %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Contacts</h1>
</div>
<div class="col-auto">
    <form class="d-flex" action="{% url 'contacts:search' %}" method='GET'>
        <input class="form-control me-2" type="search" name="q" value="{{search_term}}" required
            placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<!--    start table-->
<div class="row">
    <br>
    
    <caption>
        Contacts: {{contactsCount}}                  
    </caption>
    <hr>

    <div class="table-responsive">
        <table class="table table-hover align-middle table-sm">
            <!--thead table-->
            <thead>

                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Favorite</th>
                </tr>
            </thead>
            <!--Body table-->
            <tbody>
                {% for contact in contacts %}
                    <tr onclick="location.href='{% url 'contacts:contact-detail' contact.pk %}'">
                        <td>{{ contact.name }} {{contact.last_name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.dd}} {{contact.telephone}} </td>
                        <!--Favorite button-->
                        <td>
                            {% include 'contacts/partial/favorite.html' %}
                        </td>
                    </tr>
                {% empty %}
                    <div class="text-center">
                        <h1>No Contacts found here</h1>
                    </div>        
                {% endfor %}        
            </tbody>
        </table>
    </div>
    {% include 'partial/messages.html' %}
</div>

<!--    end table-->
{% endblock content %}

