<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3"> 
      <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <button type="button" class="badge rounded-pill text-dark">
                    <h5><i class="bi bi-plus">Create Contact</i></h5>
                </button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'contacts:home' %}>
                <span data-feather="home"></span>
                    Contacts
            </a>
          </li>
          
          <hr>
          <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="bi bi-cloud-arrow-down"></i>
                  Import
              </a>
          </li>          
          <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-cloud-arrow-up"> Export</i>
              <a>
          </li>          
          <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="bi bi-printer"> Print out</i>
              </a>
          </li>

      </ul>
      <hr>
  </div>
</nav>